@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', 'sans-seriff';
}

.thinner {
    font-weight: 300;
}